h1 h2 p {font-family: Arial, Helvetica, sans-serif;}

h1 {color:aqua; 
    font-size: 300%;
    letter-spacing: 3 em;
}

h2 {color:coral;
    font-size: 200%;
    letter-spacing: 2 em;
}

.evenrow {color:crimson}

